<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Falcon Media (info@falconmedia.nl)
 *
 * @author Falcon Media
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="innosend" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Pickup Points</label>
            <tab>innosend</tab>
            <resource>Innosend_PickupPoints::config</resource>
            <group id="pickup_points" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pickup Points Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Pickup Points</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable pickup points selection in checkout</comment>
                </field>
                <field id="show_map" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Map</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show map view in pickup points modal</comment>
                </field>
                <field id="show_map_mobile" translate="label comment" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Map on Mobile</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show map view on mobile devices. If disabled, map will only be shown on desktop.</comment>
                    <depends>
                        <field id="show_map">1</field>
                    </depends>
                </field>
                <field id="map_type" translate="label comment" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Map Type</label>
                    <source_model>Innosend\PickupPoints\Model\Config\Source\MapType</source_model>
                    <comment>Select the map provider to use</comment>
                    <depends>
                        <field id="show_map">1</field>
                    </depends>
                </field>
                <field id="google_maps_api_key" translate="label comment" type="obscure" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Maps API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Google Maps API Key for map display (only API key is required, no secret needed)</comment>
                    <depends>
                        <field id="show_map">1</field>
                        <field id="map_type">google_maps</field>
                    </depends>
                </field>
                <field id="allowed_carriers" translate="label comment" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Carriers</label>
                    <source_model>Innosend\PickupPoints\Model\Config\Source\Carriers</source_model>
                    <backend_model>Innosend\PickupPoints\Model\Config\Backend\AllowedCarriers</backend_model>
                    <comment>Select the carriers you want to use</comment>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="delivery_method" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery Method</label>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                    <comment><![CDATA[Select the delivery method to link pickup points to. Configure delivery methods in <strong>Stores > Configuration > Sales > Delivery Methods</strong>.]]></comment>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="innosend_pickup_points" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Innosend Pickup Points</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="name" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Method Name</label>
                </field>
                <field id="type" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Type</label>
                    <source_model>Innosend\PickupPoints\Model\Config\Source\ShippingType</source_model>
                </field>
                <field id="price" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="handling_type" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Calculate Handling Fee</label>
                    <source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
                </field>
                <field id="handling_fee" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1">
                    <label>Handling Fee</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="free_shipping_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enable Free Shipping Threshold</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="free_shipping_amount_threshold" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1">
                    <label>Free Shipping Amount Threshold</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="free_shipping_enable">1</field>
                    </depends>
                </field>
                <field id="free_shipping_weight_threshold" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1">
                    <label>Free Shipping Weight Threshold</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="free_shipping_enable">1</field>
                    </depends>
                </field>
                <field id="include_virtual_price" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Include Virtual Products in Price Calculation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Displayed Error Message</label>
                </field>
                <field id="sallowspecific" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="91" showInDefault="1" showInWebsite="1">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="92" showInDefault="1" showInWebsite="1">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_class>shipping-skip-hide</frontend_class>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>Sort Order</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
        </section>
    </system>
</config>
